.box{
    background-color: #a9d7d4;
    
    width: 460px;
    height: 300px;
    color: #4b4b4b;
}

.menuheader{
	font-size:14px;
	text-align: center;
	font-family: times;
	color: #000;
}

ul{
	list-style-type: none;
	margin-left: -22px; 
}

.menu .info-block{
	width:420px;
	height: 40px;
	font-family: arial;
}

.menu .info-block:hover{
    background-color: #b0e3e0;
    cursor: pointer;
    color: black;
}

.menu .info-block h2{
	font-size:12px;
	text-align: inline;
	float: left;
}

.menu .info-block img{
	margin-right: 2px;
	float: left;
}

.menu .info-block span{
	float: left;
	font-family: arial;
	margin-top:10px;
	margin-left: 4px;
	font-size: 13px;
}
