body{
    margin:-9px 0 0 0;
    padding:0;
}

.box{
    background: url("../images/bg.jpg") no-repeat bottom right;
    background-color: #CAE1D7;
    width: 475px;
    min-height: 320px;
    color: #4b4b4b;
}

#close{
	background: none;
	cursor: pointer;
	width: 32px;
	height: 32px;
	padding: 0;
	margin: 0;
	background-image: url("../images/close.png");
	border: none;
	float:right;
	margin-top: 5px;
	margin-right: 10px;
}

#close:hover{
	background-image: url("../images/closehover.png");

}

.box .menuheader{
	font-size:14px;
	text-align: center;
	color: #000;
    text-align: center;
    margin-left: -70px;
    padding-top: 10px;
}

.box select{
    float: left;
    font-size: 11px;
    margin-left: 6px;
    position: absolute;
    width: 70px;
    
}

ul{
	list-style-type: none;
	margin-left: -22px; 
}

.menu .info-block{
	width:440px;
	height: 35px;
	margin-top:10px;
	font-family: arial;
	opacity: 0.1;
}

.menu .info-block:hover{
    background-color: #4BD894;
    cursor: pointer;
    color: black;
}

.menu .info-block h2{
	font-size:12px;
	text-align: inline;
	float: left;
}

.menu .info-block img{
	margin-right: 2px;
	float: left;
}

.menu .info-block span{
	float: left;
	font-family: arial;
	margin-top:10px;
	margin-left: 4px;
	font-size: 13px;
}
