body{
    margin:-9px 0 0 0;
    padding:0;
}

.box{
    background: url("../images/panel.png") no-repeat bottom right;
    width: 475px;
    min-height: 320px;
    color: #4b4b4b;
}

#close{
	background: none;
	cursor: pointer;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	background-image: url("../images/close.png");
	border: none;
	float:right;
	margin-top: 10px;
	margin-right: 10px;
}

#close:hover{
	background-image: url("../images/closehover.png");

}

.box .menuheader{
	font-size:14px;
	text-align: center;
	color: white;
    text-align: center;
    margin-left: 0px;
    padding-top: 10px;
    text-shadow: 1px 1px 2px black;
}

.box select{
    float: left;
    font-size: 11px;
    margin-left: 6px;
    position: absolute;
    width: 70px;
	margin-top: -2px;    
}

ul{
	list-style-type: none;
	margin: 0;
	padding:5px 0 0 28px;
	margin-left: -22px;
}

.menu img{
	float: left;

}

.menu .info-block{
	font-family: arial;
	opacity: 0;
    cursor: pointer;
    height: 38px;
    margin-left: 75px;
    margin-top: 8px;
    width: 394px;
}

.menu .info-block:hover{
	background-color: #393939;
	box-shadow:1px 1px 12px #393939;
	color: white;
	font-weight: bold;
	text-shadow: 2px 1px 2px black;
}

.menu .info-block h2{
	font-size:12px;
	text-align: inline;
	float: left;
}

.menu .info-block img{
	margin-right: 2px;
	float: left;
}

.menu .info-block span{
	float: left;
	font-family: arial;
	margin-top:10px;
	margin-left: 4px;
	font-size: 13px;
}
